{% if include.trow %}
<tr style="vertical-align: top;">
  <td width="100%" style="align: center; text-align: center;">
{% endif %}
{% if include.schedule %}
  {% assign width = "200" %}
  {% assign class = "schedule" %}
{% else %}
  {% assign width = include.width %}
  {% assign class = include.class %}
{% endif %}
<img
  class="{{ class | prepend: "myImg " }}"
  width="{{ width | default: "100%" }}"
  src="{{ include.src | prepend: "images/" }}"
  {% if include.alt %}alt="{{ include.alt }}"{% endif %}
  onclick="modal_image(this);"
/>
{% if include.caption and include.alt %}
  <div class="caption">{{ include.alt }}</div>
{% endif %}
{% if include.trow %}
  </td>
</tr>
{% endif %}
