<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div id="myModal" class="modal">
          <span class="close"
                onclick="document.getElementById('myModal').style.display='none'">&times;</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
        </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
